---
layout: default2
---
<div class="row">
    <div class="col-md-5" style="padding-right: 0px;">
        <h2>Para alunos</h2>
        <p>Sugestão de itens para elaboração de um portfólio:
        </p>
        <ul style="margin-left: 20px;">
            <li><b>Uma capa</b>: Com identificação do aluno e da escola. O aluno pode personalizar a capa,buscando ilustrações referentes ao conteúdo trabalhado.</li>
            <li><b>Sumário</b>: É a enumeração dos trabalhos e ou atividades, na ordem que foram organizados na pasta.</li>
            <li><b>Introdução</b>: O aluno destaca a justificativa e os objetivos da elaboração do portfólio.</li>
            <li><b>Parecer do professor</b>: É importante para o novos encaminhamentos, tanto para o professor quanto para o aluno.</li>
        </ul>
    </div>
    <div class="col-md-2" style="padding-right: 0px;">
        <div class="hr">
        <div class="sep">
            <div class="sepText"></div>
        </div>
      </div>
    </div>
    <div class="col-md-5" style="padding-left: 0px;">
        <h2>Para docentes</h2>
        <p>O que avaliar?</p>
        <p>O portfólio tem como objetivo desenvolver habilidades avaliativas tanto do desempenho dos estudantes quanto do próprio trabalho do professor, de forma sistemática e reflexiva, melhorando a qualidade do processo ensino aprendizagem, gerando elementos, pistas, conceitos.
        </p><p>Desse modo, a elaboração do portfólio possibilita a orientação durante o processo de construção do conhecimento,assegurando ao professor verificar de forma imediata as dificuldades apresentadas pelos estudantes e propor soluções para sua superação, ainda no decorrer do processo de aprendizagem.</p>
    </div>
</div>
